/HolaMundo2/target/
/TipoVariables/target/
/LeerJava/target/
/AreaCuadrado/target/
/Esfera/target/
/Edad/target/
/Salario/target/
/CalificacionesAlumno/target/
/Casting/target/
/HoroscopoZodiacal/target/
/AdivinarNumero/target/
/Mes/target/
/NumeroPar/target/
/Pago/target/
/Ak/target/
/Buhos/target/